<ion-header class="header_wrapper">
  <img [src]="LOGO" class="logo" (click)="navigate(['/'])">
  <div class="pages">
    <div class="page">
      <span (click)="navigate(['/'])">
        {{ "Main" | translate }}
      </span>
    </div>
    <div class="page">
      <span (click)="navigate(['recognize'])">
        {{ "Recognize" | translate }}
      </span>
    </div>
    <div class="page">
      <span (click)="navigate(['catalog'])">
        {{ "Catalog" | translate }}
      </span>
    </div>
    <div class="language_choose">
      <img [src]="currentLangIcon" id="choose_lang_modal"/>
      <ion-modal
        #chooseLang
        trigger="choose_lang_modal"
      >
        <ng-template>
          <ion-list class="lang_list">
            <ion-item (click)="setLang('ru')" class="lang_item">
              <img [src]="RUSSIAN" class="lang_icon"/>
            </ion-item>
            <ion-item (click)="setLang('en')" class="lang_item">
              <img [src]="ENGLISH" class="lang_icon"/>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-header>
<ion-content class="content_wrapper">
  <router-outlet></router-outlet>
</ion-content>

<div class="background_wrapper">
  <img class="background" [src]="BACKGROUND"/>
</div>