<ion-header class="header_wrapper">
  <img [src]="LOGO" class="logo" (click)="navigate(['/'])">
  <div class="pages">
    <div class="page">
      <span (click)="navigate(['/'])">
        {{ "Main" | translate }}
      </span>
    </div>
    <div class="page">
      <span (click)="navigate(['recognize'])">
        {{ "Recognize" | translate }}
      </span>
    </div>
    <div class="page">
      <span (click)="navigate(['catalog'])">
        {{ "Catalog" | translate }}
      </span>
    </div>
  </div>
</ion-header>
<ion-content class="content_wrapper">
  <router-outlet></router-outlet>
</ion-content>

<div class="background_wrapper">
  <img class="background" [src]="BACKGROUND"/>
</div>